<div class="card text-center">
        <div class="card-header">
          <p class="footer_text">SOCIAAL MEDIA</p>
        </div>
        <div class="card-body">
          <p class="card-text">
              <a href="https://www.facebook.com"><img src="{{ site.baseurl }}/images/facebook_icoon.png" class="icoon" alt="facebook" width="50px"></a>
              <a href="https://www.instagram.com"><img src="{{ site.baseurl }}/images/instagram_icoon.png" class="icoon" alt="instagram" width="50px"></a>
              <a href="https://twitter.com"><img src="{{ site.baseurl }}/images/twitter_icoon.png" class="icoon" alt="twitter" width="50px"></a>
          </p>
        </div>
      <div class="row">
          <p>
            <div class="col-4">
              <a href="contact.html" class="footer_text">info@persoonlijkezakkendrager.be</a> 
            </div>
            <div class="col-4">
              <a href="mijnaccount.html" class="footer_text">Mijn account</a> 
            </div>
            <div class="col-4">
              <a href="verkoopbeleid.html" class="footer_text">Verkoopbeleid</a> 
            </div>
          </p>
      </div>
</div>
