@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss


body {
  font-family:avenir next;
}

.textcenter {
  text-align:center;
  margin:20px;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:red;
}

a:active{
  text-decoration: none;
  color: red;
}

.form-control{
  border-color:red;
  text-decoration: none;
}

.card{
  margin-top: 30px;
  background-color: #343a40;
  border-radius: 0%;
}

.form {
  background-color:lightgrey;
  padding:40px;
}

.footer_text{
  color: white;
}

.card-body{
  padding-top: 0;
}

.card-header{
  border: none;
  background-color: #343a40;
}

.collapse{
  text-align: center;
}

.row{
  margin-bottom: 20px;
}

.icoon{
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.navbar:active{
  color: red;
}